/*
  Blackbird - Open Source JavaScript Logging Utility
  Author: G Scott Olson
  Web: http://blackbirdjs.googlecode.com/
       http://www.gscottolson.com/blackbirdjs/
  Version: 1.0

  The MIT License - Copyright (c) 2008 Blackbird Project
*/
/* line 10, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird {
  margin: 0;
  padding: 0;
  position: fixed;
  _position: absolute;
  font: 11px/1.3 Consolas, "Lucida Console", Monaco, monospace;
  _border: 2px solid #BBB;
}

/* line 19, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbTopLeft {
  top: 0;
  left: 0;
  _top: expression(eval(document.documentElement.scrollTop+8));
  _left: expression(eval(document.documentElement.scrollLeft+8));
}

/* line 26, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbTopRight {
  top: 0;
  right: 0;
}

/* line 31, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
* html .bbTopRight {
  right: auto;
  top: expression(eval(document.documentElement.scrollTop+8));
  left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById('blackbird').offsetWidth-8));
}

/* line 37, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbBottomLeft {
  bottom: 0;
  left: 0;
}

/* line 42, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
* html .bbBottomLeft {
  bottom: auto;
  top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-document.getElementById('blackbird').offsetHeight-8));
  left: expression(eval(document.documentElement.scrollLeft+8));
}

/* line 48, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbBottomRight {
  bottom: 0;
  right: 0;
}

/* line 53, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
* html .bbBottomRight {
  bottom: auto;
  right: auto;
  top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-document.getElementById('blackbird').offsetHeight-8));
  left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById('blackbird').offsetWidth-8));
}

/* line 60, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall {
  width: 300px;
  _width: 272px;
}

/* line 65, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .header {
  _width: 272px;
}

/* line 69, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .header div.left, #blackbird.bbSmall .footer div.left {
  width: 150px;
}

/* line 73, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .main {
  _width: 272px;
}

/* line 77, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .main div {
  height: 200px;
}

/* line 81, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .main div.mainBody {
  width: 272px;
}

/* line 85, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .footer {
  _width: 272px;
}

/* line 89, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge {
  width: 500px;
  _width: 472px;
}

/* line 94, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .header {
  _width: 472px;
}

/* line 98, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .header div.left, #blackbird.bbLarge .footer div.left {
  width: 350px;
}

/* line 102, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .main {
  _width: 472px;
}

/* line 106, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .main div {
  height: 500px;
}

/* line 110, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .main div.mainBody {
  width: 472px;
}

/* line 114, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .footer {
  _width: 472px;
}

/* line 118, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  float: left;
  background-image: url(/assets/blackbird/blackbird_icons-bb17b002f92d45e4212447be1a114079.png);
  background-repeat: no-repeat;
}

/* line 128, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.error {
  background-position: 0px 0px;
}

/* line 132, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.errorDisabled {
  background-position: -16px 0px;
}

/* line 136, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.warn {
  background-position: 0px -16px;
}

/* line 140, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.warnDisabled {
  background-position: -16px -16px;
}

/* line 144, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.info {
  background-position: 0px -32px;
}

/* line 148, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.infoDisabled {
  background-position: -16px -32px;
}

/* line 152, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.debug {
  background-position: 0px -48px;
}

/* line 156, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.debugDisabled {
  background-position: -16px -48px;
}

/* line 160, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.profile {
  background-position: 0px -64px;
}

/* line 164, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.profileDisabled {
  background-position: -16px -64px;
}

/* line 168, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.close {
  background-position: 0px -80px;
}

/* line 172, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.clear {
  background-position: -16px -80px;
}

/* line 176, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.small {
  background-position: 0px -96px;
}

/* line 180, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.large {
  background-position: -16px -96px;
}

/* line 184, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header > div, #blackbird .main > div, #blackbird .footer > div {
  background-image: url(/assets/blackbird/blackbird_panel-5c473a579b698409f4b8e97ed4ff32b3.png);
  background-repeat: no-repeat;
}

/* line 189, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header div {
  float: left;
  _background-color: #000;
}

/* line 194, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header div.left {
  background-position: top left;
  height: 40px;
  _height: 16px;
}

/* line 200, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header .left div.filters {
  margin-left: -4px;
  padding: 16px 0 0 19px;
  float: left;
  _padding: 6px 8px;
}

/* line 207, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header div.right {
  background-position: top right;
  height: 40px;
  width: 150px;
  _width: 122px;
  _height: 16px;
}

/* line 215, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header .right div.controls {
  padding: 16px 24px 0 0;
  float: right;
  _padding: 6px 8px;
}

/* line 221, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header .right .controls span {
  margin: 0;
}

/* line 225, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header .right .controls span.clear {
  margin-right: 8px;
}

/* line 229, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main div {
  float: left;
}

/* line 233, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main div.left {
  background-position: 0 -30px;
  width: 11px;
  _width: 0;
}

/* line 239, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main div.mainBody {
  background-position: 40% -40px;
  _background-color: #000;
  _filter: alpha(opacity="93");
}

/* line 245, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol {
  line-height: 1.45;
  height: 100%;
  overflow: auto;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 255, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li {
  padding: 1px 4px 1px 30px;
  border-bottom: 1px solid #333;
  color: #CCC;
  margin: 2px 2px;
  _text-indent: -2px;
}

/* line 263, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li span {
  background: url(/assets/blackbird/blackbird_icons-bb17b002f92d45e4212447be1a114079.png) no-repeat 0 0;
  border: 1px solid #333;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
  margin: -2px 0 1px -25px;
  _display: inline;
}

/* line 274, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.error span {
  background-position: 0 0;
}

/* line 278, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.warn span {
  background-position: 0 -16px;
}

/* line 282, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.info span {
  background-position: 0 -32px;
}

/* line 286, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.debug span {
  background-position: 0 -48px;
}

/* line 290, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.profile span {
  background-position: 0 -64px;
}

/* line 294, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.profile {
  color: #DDD;
  font-style: italic;
}

/* line 299, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .errorHidden li.error, #blackbird .warnHidden li.warn, #blackbird .infoHidden li.info, #blackbird .debugHidden li.debug, #blackbird .profileHidden li.profile {
  display: none;
}

/* line 303, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main div.right {
  background: url(/assets/blackbird/blackbird_panel-5c473a579b698409f4b8e97ed4ff32b3.png) no-repeat 100% -30px;
  width: 17px;
  _width: 0;
}

/* line 309, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div {
  height: 50px;
  float: left;
  _background-color: #000;
  _height: 30px;
}

/* line 316, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div.left {
  background-position: bottom left;
  _width: 100% !important;
}

/* line 321, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div.left label {
  display: block;
  color: #BBB;
  margin: 8px 0 0 16px;
  position: relative;
  font-family: Arial, sans-serif;
  _margin: 4px 0 0 8px;
}

/* line 330, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div.left label input {
  padding: 0;
  vertical-align: middle;
}

/* line 335, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div.right {
  background-position: bottom right;
  width: 150px;
  _width: 0;
}
