/* line 1, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
body {
  background: #123;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

/* line 9, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 14, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
a:hover {
  text-decoration: underline;
}

/* line 18, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

/* line 25, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
h2 {
  padding-top: 20px;
  text-align: center;
}

/* line 30, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

/* line 39, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

/* line 45, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
.container_12 {
  background-image: url(/assets/960-grid/12_col-5e6536933faa98befc2a9297abfe0ecb.gif);
}

/* line 48, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
.container_16 {
  background-image: url(/assets/960-grid/16_col-9bf70ebbdeb8bb4689b19f605123502e.gif);
}

/* line 51, /home/daigong/git/UserAnalysis/app/assets/stylesheets/960-grid/demo.css.scss */
.container_24 {
  background-image: url(/assets/960-grid/24_col-4d1f6860228c9c0d3c9e333692551b76.gif);
}
