.row
  .span7
    .alert.alert-info
      =link_to("return",{:action=>:index},:class=>:close)
      操作系统分布分页明细
    %table.table.table-striped
      %tr
        %th 操作系统
        %th 用户比例
      -@page_info.each do |info|
        %tr
          %td=unknown_string(info.os_version)
          %td=info.login_user_count

    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/os", :action => :os_details_page});