.row
  .span7
    .alert.alert-info 近15日启动次数分布
    =high_chart('launch_count_distribution_column_chart',@launch_count_distribution_column_chart)
.row
  .span7
    .alert.alert-info 启动次数分布
    %ul.nav.nav-tabs#daily-tabs
      %li.active
        %a{:href=>'#daily-tabs-1'}日启动次数
      %li
        %a{:href=>'#daily-tabs-2'}周启动次数
      %li
        %a{:href=>'#daily-tabs-3'}月启动次数
    .tab-content
      .tab-pane.active#daily-tabs-1
        =high_chart('launch_count_distribution_bar_chart',@launch_count_distribution_bar_chart)
      .tab-pane#daily-tabs-2
        =high_chart('week_launch_count_distribution_bar_chart',@week_launch_count_distribution_bar_chart)
      .tab-pane#daily-tabs-3
        =high_chart('month_launch_count_distribution_bar_chart',@month_launch_count_distribution_bar_chart)
