.row
  .span7
    .alert.alert-info
      TOP 10 省市分布时间查询
      =form_tag url_for(:action => :index),:method => :get,:class=>"info-inline-form"  do
        =text_field_tag('day',@day.strftime('%Y-%m-%d'))
        =submit_tag( '提交' ,:class=>"btn btn-info")

    %ul.nav.nav-tabs#location-province-tabs
      %li.active
        %a{:href=>'#location-province-tabs-1'}活跃用户
      %li
        %a{:href=>'#location-province-tabs-2'}新增用户

    .tab-content
      .tab-pane.active#location-province-tabs-1
        =high_chart('sum-user-count-location-chart',@sum_user_count_device_chart)
      .tab-pane#location-province-tabs-2
        =high_chart('new-user-count-location-chart',@new_user_count_device_chart)
.row
  .span7
    .alert.alert-info 省市分布明细
    %table.table.table-striped
      %tr
        %th 城市
        %th 用户比例
      -@page_info.each do |info|
        %tr
          %td=unknown_string(info.province)
          %td=info.login_user_count
    %div{:style=>"float:right;padding-botton:10px",:class=>:digg_pagination}
      =link_to "点击查看更多",{:controller => "statistics/location", :action => :location_province_details_page},:class=>"next_page"
