.row
  .span7
    .alert.alert-info
      =link_to("return",{:action=>:index},:class=>:close)
      省市分布明细
    %table.table.table-striped
      %tr
        %th 城市
        %th 用户比例
      -@page_info.each do |info|
        %tr
          %td=unknown_string(info.province)
          %td=info.login_user_count
    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/location", :action => :location_province_details_page});

