/* root element for tabs  */
/* line 4, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  height: 30px;
  border-bottom: 1px solid #666;
}

/* single tab */
/* line 13, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs li {
  float: left;
  text-indent: 0;
  padding: 0;
  margin: 0 !important;
  list-style-image: none !important;
}

/* link inside the tab. uses a background image */
/* line 22, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs a {
  background: url(/assets/jquery-tool/blue-85b93eff68fdd0c43df37f46823d038e.png) no-repeat -652px 0;
  font-size: 11px;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 111px;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 1px;
}

/* line 38, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs a:active {
  outline: none;
}

/* when mouse enters the tab move the background image */
/* line 43, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs a:hover {
  background-position: -652px -31px;
  color: #fff;
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
/* line 49, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .current, .tabs .current:hover, .tabs li.current a {
  background-position: -652px -62px;
  cursor: default !important;
  color: #000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */
/* width 1 */
/* line 59, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w1 {
  background-position: -519px 0;
  width: 134px;
}

/* line 60, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w1:hover {
  background-position: -519px -31px;
}

/* line 61, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w1.current {
  background-position: -519px -62px;
}

/* width 2 */
/* line 64, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w2 {
  background-position: -366px 0px;
  width: 154px;
}

/* line 65, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w2:hover {
  background-position: -366px -31px;
}

/* line 66, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w2.current {
  background-position: -366px -62px;
}

/* width 3 */
/* line 70, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w3 {
  background-position: -193px 0px;
  width: 174px;
}

/* line 71, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w3:hover {
  background-position: -193px -31px;
}

/* line 72, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w3.current {
  background-position: -193px -62px;
}

/* width 4 */
/* line 75, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w4 {
  background-position: 0px 0px;
  width: 194px;
}

/* line 76, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w4:hover {
  background-position: 0px -31px;
}

/* line 77, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w4.current {
  background-position: 0px -62px;
}

/* initially all panes are hidden */
/* line 81, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.panes .pane {
  display: none;
}
