.row
  .span7
    .alert.alert-info 回访用户数量

    %ul.nav.nav-tabs#revisit-count-tabs
      %li.active
        %a{:href=>'#revisit-count-tabs-1'}7天内回访
      %li
        %a{:href=>'#revisit-count-tabs-2'}14天内回访

    .tab-content
      .tab-pane.active#revisit-count-tabs-1
        =high_chart('7-revisit-count-chart',@line_7_chart)
      .tab-pane#revisit-count-tabs-2
        =high_chart('14-revisit-count-chart',@line_14_chart)
        
.row
  .span7
    .alert.alert-info 回访用户比例
    
    %ul.nav.nav-tabs#revisit-percent-tabs
      %li.active
        %a{:href=>'#revisit-percent-tabs-1'}7天内回访
      %li
        %a{:href=>'#revisit-percent-tabs-2'}14天内回访
        
    .tab-content
      .tab-pane.active#revisit-percent-tabs-1
        =high_chart('7-revisit-percent-chart',@revisit_percent_7_chart)
      .tab-pane#revisit-percent-tabs-2
        =high_chart('14-revisit-percent-chart',@revisit_percent_14_chart)
.row
  .span7
    .alert.alert-info 回访用户详情
    %table.table.table-striped
      %tr
        %th 日期
        %th 当日新增用户
        %th 7天内回访用户数
        %th 7天内回访用户比例
        %th 14天内回访用户数
        %th 14天内回访用户比例
      -@page_info.each do |info|
        %tr
          %td=format_date(info.day_date)
          %td=info.new_user_count
          %td=info.week_user_count
          %td=calc_percentage_to_s(info.week_user_count,info.new_user_count,0)
          %td=info.dweek_user_count
          %td=calc_percentage_to_s(info.dweek_user_count,info.new_user_count,0)

    %div{:style=>"float:right;padding-botton:10px",:class=>:digg_pagination}
      =link_to "点击查看更多",{:controller => "statistics/revisit", :action => :daily_revisit_details_page},:class=>"next_page"

