.grid_12.alpha
  .info-header
    =form_tag url_for(:action => :index),:method => :get do
      %span rg算路次数省市分布明细
      =text_field_tag('day',@day.strftime('%Y-%m-%d'))
      =submit_tag( '提交' )
  %table.new-silver-table{:cellspacing=>0,:cellpadding=>0,:width=>'100%'}
    %tr
      %th 起点城市名称
      %th 终点城市名称
      %th 计算次数
    -@page_info.each do |info|
      %tr
        %td=concat_string(info.start_province, info.start_city)
        %td=concat_string(info.end_province, info.end_city)
        %td=info.count
  =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "loganalysis/rg", :action => :index});
