=content_for :css,stylesheet_link_tag("statistics/total")
.row
  .span2.offset1
    .total_title
      新增用户
    %hr
    .total_yesterday_count
      %span{:class=>:date_label}
        ="#{format_date_show_day(@day-1.day)} 日:"
      %span{:class=>:number}
        =@yesterday_total_count[:new_user_count]
    .total_today_count
      %span{:class=>:date_label}
        ="#{format_date_show_day(@day)} 日:"
      %span{:class=>:number}
        =@today_total_count[:new_user_count]
  .span2
    .total_title
      启动用户
    %hr
    .total_yesterday_count
      %span{:class=>:date_label}
        ="#{format_date_show_day(@day-1.day)} 日:"
      %span{:class=>:number}
        =@yesterday_total_count[:login_user_count]
    .total_today_count
      %span{:class=>:date_label}
        ="#{format_date_show_day(@day)} 日:"
      %span{:class=>:number}
        =@today_total_count[:login_user_count]
  .span2
    .total_title
      启动次数
    %hr
    .total_yesterday_count
      %span{:class=>:date_label}
        ="#{format_date_show_day(@day-1.day)} 日:"
      %span{:class=>:number}
        =@yesterday_total_count[:login_count]
    .total_today_count
      %span{:class=>:date_label}
        ="#{format_date_show_day(@day)} 日:"
      %span{:class=>:number}
        =@today_total_count[:login_count]
  .span4
    .total_title
      总用户数
    %hr
    .total_count
      =@total_count

.row{:style=>"margin-top:20px;"}
  .span10.offset1
    %ul.nav.nav-tabs#total-chart-tabs
      %li.active
        %a{:href=>'#total-chart-tabs-1'}新增用户
      %li
        %a{:href=>'#total-chart-tabs-2'}启动用户
      %li
        %a{:href=>'#total-chart-tabs-3'}启动次数
    .tab-content
      .tab-pane.active#total-chart-tabs-1
        =high_chart('new-user-count-chart',@new_user_count_chart)
      .tab-pane#total-chart-tabs-2
        =high_chart('login-user-count-chart',@login_user_count_chart)
      .tab-pane#total-chart-tabs-3
        =high_chart('login-count-chart',@login_count_chart)


.row
  .span10.offset1{:style=>"margin-top:20px;"}
    %table.table.table-striped
      %tr
        %th 产品
        %th 描述
        %th 用户总数
        %th
          ="新增[#{format_date_show_day(@day)}日/#{format_date_show_day(@day-1.day)}日]"
        %th
          ="启动用户[#{format_date_show_day(@day)}日/#{format_date_show_day(@day-1.day)}日]"
        %th
          ="启动次数[#{format_date_show_day(@day)}日/#{format_date_show_day(@day-1.day)}日]"
      -@productions_page_info.each do |production|
        -today = DateUtils.today
        -yesterday_info = production.day_info @day-1.day
        -today_info = production.day_info @day
        %tr
          %td=link_to production.name,:controller => 'statistics/main',:action => :index,:app_id=>production._id
          %td=production.description
          %td=today_info[:sum_user_count]
          %td="#{today_info[:new_user_count]}/#{yesterday_info[:new_user_count]}"
          %td="#{today_info[:login_user_count]}/#{yesterday_info[:login_user_count]}"
          %td="#{today_info[:login_count]}/#{yesterday_info[:login_count]}"

    =will_paginate(@productions_page_info,:style=>'float:left;');
        

