@charset "UTF-8";/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/


a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html,
body {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    /*
      Override the default (display: inline) for
      browsers that do not recognize HTML5 tags.

      IE8 (and lower) requires a shiv:
      http://ejohn.org/blog/html5-shiv
    */
    display: block;
}

b,
strong {
    /*
      Makes browsers agree.
      IE + Opera = font-weight: bold.
      Gecko + WebKit = font-weight: bolder.
    */
    font-weight: bold;
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    /*
      For IE.
      http://css-tricks.com/ie-fix-bicubic-scaling-for-images
    */
    -ms-interpolation-mode: bicubic;
}

ol,
ul {
    list-style: none;
}

li {
    /*
      For IE6 + IE7:

      "display: list-item" keeps bullets from
      disappearing if hasLayout is triggered.
    */
    display: list-item;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td,
caption {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

sub,
sup,
small {
    font-size: 75%;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

svg {
    /*
      For IE9. Without, occasionally draws shapes
      outside the boundaries of <svg> rectangle.
    */
    overflow: hidden;
}
/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/


body {
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

pre,
code {
    font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
    margin-bottom: 20px;
}
/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/


body {
    min-width: 960px;
}

/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12,
.container_16 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
    position: relative;
}

.container_12 .grid_3,
.container_16 .grid_4 {
    width: 220px;
}

.container_12 .grid_6,
.container_16 .grid_8 {
    width: 460px;
}

.container_12 .grid_9,
.container_16 .grid_12 {
    width: 700px;
}

.container_12 .grid_12,
.container_16 .grid_16 {
    width: 940px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
    width: 60px;
}

.container_12 .grid_2 {
    width: 140px;
}

.container_12 .grid_4 {
    width: 300px;
}

.container_12 .grid_5 {
    width: 380px;
}

.container_12 .grid_7 {
    width: 540px;
}

.container_12 .grid_8 {
    width: 620px;
}

.container_12 .grid_10 {
    width: 780px;
}

.container_12 .grid_11 {
    width: 860px;
}

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
    width: 40px;
}

.container_16 .grid_2 {
    width: 100px;
}

.container_16 .grid_3 {
    width: 160px;
}

.container_16 .grid_5 {
    width: 280px;
}

.container_16 .grid_6 {
    width: 340px;
}

.container_16 .grid_7 {
    width: 400px;
}

.container_16 .grid_9 {
    width: 520px;
}

.container_16 .grid_10 {
    width: 580px;
}

.container_16 .grid_11 {
    width: 640px;
}

.container_16 .grid_13 {
    width: 760px;
}

.container_16 .grid_14 {
    width: 820px;
}

.container_16 .grid_15 {
    width: 880px;
}

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_3,
.container_16 .prefix_4 {
    padding-left: 240px;
}

.container_12 .prefix_6,
.container_16 .prefix_8 {
    padding-left: 480px;
}

.container_12 .prefix_9,
.container_16 .prefix_12 {
    padding-left: 720px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
    padding-left: 80px;
}

.container_12 .prefix_2 {
    padding-left: 160px;
}

.container_12 .prefix_4 {
    padding-left: 320px;
}

.container_12 .prefix_5 {
    padding-left: 400px;
}

.container_12 .prefix_7 {
    padding-left: 560px;
}

.container_12 .prefix_8 {
    padding-left: 640px;
}

.container_12 .prefix_10 {
    padding-left: 800px;
}

.container_12 .prefix_11 {
    padding-left: 880px;
}

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
    padding-left: 60px;
}

.container_16 .prefix_2 {
    padding-left: 120px;
}

.container_16 .prefix_3 {
    padding-left: 180px;
}

.container_16 .prefix_5 {
    padding-left: 300px;
}

.container_16 .prefix_6 {
    padding-left: 360px;
}

.container_16 .prefix_7 {
    padding-left: 420px;
}

.container_16 .prefix_9 {
    padding-left: 540px;
}

.container_16 .prefix_10 {
    padding-left: 600px;
}

.container_16 .prefix_11 {
    padding-left: 660px;
}

.container_16 .prefix_13 {
    padding-left: 780px;
}

.container_16 .prefix_14 {
    padding-left: 840px;
}

.container_16 .prefix_15 {
    padding-left: 900px;
}

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_3,
.container_16 .suffix_4 {
    padding-right: 240px;
}

.container_12 .suffix_6,
.container_16 .suffix_8 {
    padding-right: 480px;
}

.container_12 .suffix_9,
.container_16 .suffix_12 {
    padding-right: 720px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
    padding-right: 80px;
}

.container_12 .suffix_2 {
    padding-right: 160px;
}

.container_12 .suffix_4 {
    padding-right: 320px;
}

.container_12 .suffix_5 {
    padding-right: 400px;
}

.container_12 .suffix_7 {
    padding-right: 560px;
}

.container_12 .suffix_8 {
    padding-right: 640px;
}

.container_12 .suffix_10 {
    padding-right: 800px;
}

.container_12 .suffix_11 {
    padding-right: 880px;
}

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
    padding-right: 60px;
}

.container_16 .suffix_2 {
    padding-right: 120px;
}

.container_16 .suffix_3 {
    padding-right: 180px;
}

.container_16 .suffix_5 {
    padding-right: 300px;
}

.container_16 .suffix_6 {
    padding-right: 360px;
}

.container_16 .suffix_7 {
    padding-right: 420px;
}

.container_16 .suffix_9 {
    padding-right: 540px;
}

.container_16 .suffix_10 {
    padding-right: 600px;
}

.container_16 .suffix_11 {
    padding-right: 660px;
}

.container_16 .suffix_13 {
    padding-right: 780px;
}

.container_16 .suffix_14 {
    padding-right: 840px;
}

.container_16 .suffix_15 {
    padding-right: 900px;
}

/* `Push Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .push_3,
.container_16 .push_4 {
    left: 240px;
}

.container_12 .push_6,
.container_16 .push_8 {
    left: 480px;
}

.container_12 .push_9,
.container_16 .push_12 {
    left: 720px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
    left: 80px;
}

.container_12 .push_2 {
    left: 160px;
}

.container_12 .push_4 {
    left: 320px;
}

.container_12 .push_5 {
    left: 400px;
}

.container_12 .push_7 {
    left: 560px;
}

.container_12 .push_8 {
    left: 640px;
}

.container_12 .push_10 {
    left: 800px;
}

.container_12 .push_11 {
    left: 880px;
}

/* `Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 {
    left: 60px;
}

.container_16 .push_2 {
    left: 120px;
}

.container_16 .push_3 {
    left: 180px;
}

.container_16 .push_5 {
    left: 300px;
}

.container_16 .push_6 {
    left: 360px;
}

.container_16 .push_7 {
    left: 420px;
}

.container_16 .push_9 {
    left: 540px;
}

.container_16 .push_10 {
    left: 600px;
}

.container_16 .push_11 {
    left: 660px;
}

.container_16 .push_13 {
    left: 780px;
}

.container_16 .push_14 {
    left: 840px;
}

.container_16 .push_15 {
    left: 900px;
}

/* `Pull Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_3,
.container_16 .pull_4 {
    left: -240px;
}

.container_12 .pull_6,
.container_16 .pull_8 {
    left: -480px;
}

.container_12 .pull_9,
.container_16 .pull_12 {
    left: -720px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
    left: -80px;
}

.container_12 .pull_2 {
    left: -160px;
}

.container_12 .pull_4 {
    left: -320px;
}

.container_12 .pull_5 {
    left: -400px;
}

.container_12 .pull_7 {
    left: -560px;
}

.container_12 .pull_8 {
    left: -640px;
}

.container_12 .pull_10 {
    left: -800px;
}

.container_12 .pull_11 {
    left: -880px;
}

/* `Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 {
    left: -60px;
}

.container_16 .pull_2 {
    left: -120px;
}

.container_16 .pull_3 {
    left: -180px;
}

.container_16 .pull_5 {
    left: -300px;
}

.container_16 .pull_6 {
    left: -360px;
}

.container_16 .pull_7 {
    left: -420px;
}

.container_16 .pull_9 {
    left: -540px;
}

.container_16 .pull_10 {
    left: -600px;
}

.container_16 .pull_11 {
    left: -660px;
}

.container_16 .pull_13 {
    left: -780px;
}

.container_16 .pull_14 {
    left: -840px;
}

.container_16 .pull_15 {
    left: -900px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12,
.container_16 {
    zoom: 1;
}
/*
  Blackbird - Open Source JavaScript Logging Utility
  Author: G Scott Olson
  Web: http://blackbirdjs.googlecode.com/
       http://www.gscottolson.com/blackbirdjs/
  Version: 1.0

  The MIT License - Copyright (c) 2008 Blackbird Project
*/
/* line 10, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird {
  margin: 0;
  padding: 0;
  position: fixed;
  _position: absolute;
  font: 11px/1.3 Consolas, "Lucida Console", Monaco, monospace;
  _border: 2px solid #BBB;
}

/* line 19, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbTopLeft {
  top: 0;
  left: 0;
  _top: expression(eval(document.documentElement.scrollTop+8));
  _left: expression(eval(document.documentElement.scrollLeft+8));
}

/* line 26, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbTopRight {
  top: 0;
  right: 0;
}

/* line 31, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
* html .bbTopRight {
  right: auto;
  top: expression(eval(document.documentElement.scrollTop+8));
  left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById('blackbird').offsetWidth-8));
}

/* line 37, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbBottomLeft {
  bottom: 0;
  left: 0;
}

/* line 42, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
* html .bbBottomLeft {
  bottom: auto;
  top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-document.getElementById('blackbird').offsetHeight-8));
  left: expression(eval(document.documentElement.scrollLeft+8));
}

/* line 48, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbBottomRight {
  bottom: 0;
  right: 0;
}

/* line 53, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
* html .bbBottomRight {
  bottom: auto;
  right: auto;
  top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-document.getElementById('blackbird').offsetHeight-8));
  left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById('blackbird').offsetWidth-8));
}

/* line 60, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall {
  width: 300px;
  _width: 272px;
}

/* line 65, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .header {
  _width: 272px;
}

/* line 69, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .header div.left, #blackbird.bbSmall .footer div.left {
  width: 150px;
}

/* line 73, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .main {
  _width: 272px;
}

/* line 77, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .main div {
  height: 200px;
}

/* line 81, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .main div.mainBody {
  width: 272px;
}

/* line 85, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbSmall .footer {
  _width: 272px;
}

/* line 89, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge {
  width: 500px;
  _width: 472px;
}

/* line 94, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .header {
  _width: 472px;
}

/* line 98, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .header div.left, #blackbird.bbLarge .footer div.left {
  width: 350px;
}

/* line 102, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .main {
  _width: 472px;
}

/* line 106, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .main div {
  height: 500px;
}

/* line 110, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .main div.mainBody {
  width: 472px;
}

/* line 114, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird.bbLarge .footer {
  _width: 472px;
}

/* line 118, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  float: left;
  background-image: url(/assets/blackbird/blackbird_icons-bb17b002f92d45e4212447be1a114079.png);
  background-repeat: no-repeat;
}

/* line 128, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.error {
  background-position: 0px 0px;
}

/* line 132, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.errorDisabled {
  background-position: -16px 0px;
}

/* line 136, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.warn {
  background-position: 0px -16px;
}

/* line 140, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.warnDisabled {
  background-position: -16px -16px;
}

/* line 144, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.info {
  background-position: 0px -32px;
}

/* line 148, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.infoDisabled {
  background-position: -16px -32px;
}

/* line 152, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.debug {
  background-position: 0px -48px;
}

/* line 156, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.debugDisabled {
  background-position: -16px -48px;
}

/* line 160, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.profile {
  background-position: 0px -64px;
}

/* line 164, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.profileDisabled {
  background-position: -16px -64px;
}

/* line 168, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.close {
  background-position: 0px -80px;
}

/* line 172, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.clear {
  background-position: -16px -80px;
}

/* line 176, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.small {
  background-position: 0px -96px;
}

/* line 180, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header span.large {
  background-position: -16px -96px;
}

/* line 184, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header > div, #blackbird .main > div, #blackbird .footer > div {
  background-image: url(/assets/blackbird/blackbird_panel-5c473a579b698409f4b8e97ed4ff32b3.png);
  background-repeat: no-repeat;
}

/* line 189, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header div {
  float: left;
  _background-color: #000;
}

/* line 194, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header div.left {
  background-position: top left;
  height: 40px;
  _height: 16px;
}

/* line 200, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header .left div.filters {
  margin-left: -4px;
  padding: 16px 0 0 19px;
  float: left;
  _padding: 6px 8px;
}

/* line 207, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header div.right {
  background-position: top right;
  height: 40px;
  width: 150px;
  _width: 122px;
  _height: 16px;
}

/* line 215, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header .right div.controls {
  padding: 16px 24px 0 0;
  float: right;
  _padding: 6px 8px;
}

/* line 221, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header .right .controls span {
  margin: 0;
}

/* line 225, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .header .right .controls span.clear {
  margin-right: 8px;
}

/* line 229, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main div {
  float: left;
}

/* line 233, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main div.left {
  background-position: 0 -30px;
  width: 11px;
  _width: 0;
}

/* line 239, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main div.mainBody {
  background-position: 40% -40px;
  _background-color: #000;
  _filter: alpha(opacity="93");
}

/* line 245, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol {
  line-height: 1.45;
  height: 100%;
  overflow: auto;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 255, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li {
  padding: 1px 4px 1px 30px;
  border-bottom: 1px solid #333;
  color: #CCC;
  margin: 2px 2px;
  _text-indent: -2px;
}

/* line 263, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li span {
  background: url(/assets/blackbird/blackbird_icons-bb17b002f92d45e4212447be1a114079.png) no-repeat 0 0;
  border: 1px solid #333;
  height: 16px;
  width: 16px;
  display: block;
  float: left;
  margin: -2px 0 1px -25px;
  _display: inline;
}

/* line 274, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.error span {
  background-position: 0 0;
}

/* line 278, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.warn span {
  background-position: 0 -16px;
}

/* line 282, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.info span {
  background-position: 0 -32px;
}

/* line 286, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.debug span {
  background-position: 0 -48px;
}

/* line 290, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.profile span {
  background-position: 0 -64px;
}

/* line 294, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main .mainBody ol li.profile {
  color: #DDD;
  font-style: italic;
}

/* line 299, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .errorHidden li.error, #blackbird .warnHidden li.warn, #blackbird .infoHidden li.info, #blackbird .debugHidden li.debug, #blackbird .profileHidden li.profile {
  display: none;
}

/* line 303, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .main div.right {
  background: url(/assets/blackbird/blackbird_panel-5c473a579b698409f4b8e97ed4ff32b3.png) no-repeat 100% -30px;
  width: 17px;
  _width: 0;
}

/* line 309, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div {
  height: 50px;
  float: left;
  _background-color: #000;
  _height: 30px;
}

/* line 316, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div.left {
  background-position: bottom left;
  _width: 100% !important;
}

/* line 321, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div.left label {
  display: block;
  color: #BBB;
  margin: 8px 0 0 16px;
  position: relative;
  font-family: Arial, sans-serif;
  _margin: 4px 0 0 8px;
}

/* line 330, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div.left label input {
  padding: 0;
  vertical-align: middle;
}

/* line 335, /home/daigong/git/UserAnalysis/app/assets/stylesheets/blackbird/blackbird.css.scss */
#blackbird .footer div.right {
  background-position: bottom right;
  width: 150px;
  _width: 0;
}
/* root element for tabs  */
/* line 4, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  height: 30px;
  border-bottom: 1px solid #666;
}

/* single tab */
/* line 13, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs li {
  float: left;
  text-indent: 0;
  padding: 0;
  margin: 0 !important;
  list-style-image: none !important;
}

/* link inside the tab. uses a background image */
/* line 22, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs a {
  background: url(/assets/jquery-tool/blue-85b93eff68fdd0c43df37f46823d038e.png) no-repeat -652px 0;
  font-size: 11px;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 111px;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 1px;
}

/* line 38, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs a:active {
  outline: none;
}

/* when mouse enters the tab move the background image */
/* line 43, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs a:hover {
  background-position: -652px -31px;
  color: #fff;
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
/* line 49, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .current, .tabs .current:hover, .tabs li.current a {
  background-position: -652px -62px;
  cursor: default !important;
  color: #000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */
/* width 1 */
/* line 59, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w1 {
  background-position: -519px 0;
  width: 134px;
}

/* line 60, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w1:hover {
  background-position: -519px -31px;
}

/* line 61, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w1.current {
  background-position: -519px -62px;
}

/* width 2 */
/* line 64, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w2 {
  background-position: -366px 0px;
  width: 154px;
}

/* line 65, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w2:hover {
  background-position: -366px -31px;
}

/* line 66, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w2.current {
  background-position: -366px -62px;
}

/* width 3 */
/* line 70, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w3 {
  background-position: -193px 0px;
  width: 174px;
}

/* line 71, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w3:hover {
  background-position: -193px -31px;
}

/* line 72, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w3.current {
  background-position: -193px -62px;
}

/* width 4 */
/* line 75, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w4 {
  background-position: 0px 0px;
  width: 194px;
}

/* line 76, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w4:hover {
  background-position: 0px -31px;
}

/* line 77, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.tabs .w4.current {
  background-position: 0px -62px;
}

/* initially all panes are hidden */
/* line 81, /home/daigong/git/UserAnalysis/app/assets/stylesheets/jquery-tool/tab.css.scss */
.panes .pane {
  display: none;
}
/* line 1, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}
/* line 4, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 9, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
/* line 12, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}
/* line 18, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}
/* line 22, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}
/* line 25, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
/* line 32, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}
/* line 37, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 43, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
* html .digg_pagination {
  height: 1%;
}
/* line 45, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* line 48, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}
/* line 54, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}
/* line 56, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination .disabled {
  color: #aaaaaa;
}
/* line 58, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
/* line 70, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination a {
  text-decoration: none;
  color: black;
}
/* line 73, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

/* line 76, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
/* line 80, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}
/* line 82, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .disabled {
  color: #aaaaaa;
}
/* line 84, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}
/* line 88, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}
/* line 92, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}
/* line 96, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
/* line 99, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}
/* line 101, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .previous_page {
  margin-right: 1em;
}
/* line 103, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .next_page {
  margin-left: 1em;
}

/*top banner*/
/* line 2, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#banner {
  background-image: url(/assets/common/banner-292927e1319c99d674c619448667954c.jpg);
  background-repeat: no-repeat;
  height: 50px;
  overflow: hidden;
}

/*logo*/
/* line 9, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#logo {
  font-size: 16px;
  font-weight: bold;
  color: #f0f8ff;
  padding-top: 5px;
}

/*main*/
/* line 16, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#main {
  margin-top: 10px;
}

/*menu*/
/* line 21, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#left_menu {
  width: 220px;
  margin-left: 20px;
}

/* line 26, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#app_label {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #F4F4F4;
  padding: 20px 0px;
}

/* line 33, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#name_label {
  margin-left: 10px;
}

/* line 37, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#key_label {
  background-color: #FFFFFF;
  font-size: 10px;
  margin: 10px 0 0 3px;
  width: 214px;
}

/*Title*/
/* line 45, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.info-header {
  background-image: url(/assets/common/info-header-title-890f11a14b54a030ce69e112854e736a.jpg);
  background-repeat: no-repeat;
  height: 29px;
  margin: 0 0 2px;
  padding: 8px 10px 0 20px;
  font-weight: bold;
  color: #444;
  font-size: 14px;
}

/* line 55, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.sub-info-header {
  background-color: #F4F4F4;
  margin: 0 0 5px;
  color: #444;
  height: 29px;
  padding: 8px 10px 0 20px;
  font-weight: bold;
  font-size: 14px;
}

/*Table*/
/* line 66, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table {
  border: 1px solid #999;
}

/* line 70, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table th {
  border-bottom: 1px solid #999;
  background-color: #efefef;
  color: #444;
  font-weight: normal;
  text-align: left;
}

/* line 79, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr th,
.new-silver-table tr td {
  vertical-align: top;
  padding: 5px 4px 4px 10px;
  color: #161616;
}

/* line 86, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table th,
.new-silver-table td {
  border-left: 1px #d8d7d7 solid;
}

/* line 91, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table th.new_silver_first_n,
.new-silver-table td.new_silver_first_n {
  border-left: 0;
}

/* line 95, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.new_silver_even td {
  background-color: #f1f7ff;
}

/* line 99, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.current td {
  background-color: #dbe7f8;
}

/* line 103, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.current table.new-silver-table tr.new_silver_odd td {
  background-color: #fff;
}

/* line 107, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.current table.new-silver-table tr.new_silver_even td {
  background-color: #f1f7ff;
}

/* line 111, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.current table.new-silver-table tr.current td {
  background-color: #dbe7f8;
}

/* line 115, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.tr_row td {
  border: none;
}

/* line 119, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table td.next_activity_stat_td {
  border-left: 0;
}

/* benchmark_tips */
/* line 124, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.benchmark_tips {
  margin: 2px auto;
  width: 100%;
  line-height: 20px;
  color: #444;
  border: 1px solid #CCCCCC;
  padding: 0 20px;
}

/* line 133, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.benchmark_tips tbody tr td {
  padding: 4px 0px 5px 5px;
  line-height: 180%;
}

/* line 138, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.benchmark_tips span {
  color: #05c;
  margin-right: 10px;
}

/*提示信息中的form表单*/
/* line 143, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.info-inline-form {
  display: inline;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

/* line 149, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.info-inline-form * {
  margin: 0;
}
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/
