/* line 1, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}
/* line 4, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 9, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
/* line 12, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}
/* line 18, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}
/* line 22, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}
/* line 25, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
/* line 32, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}
/* line 37, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 43, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
* html .digg_pagination {
  height: 1%;
}
/* line 45, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* line 48, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}
/* line 54, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}
/* line 56, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination .disabled {
  color: #aaaaaa;
}
/* line 58, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
/* line 70, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination a {
  text-decoration: none;
  color: black;
}
/* line 73, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

/* line 76, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
/* line 80, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}
/* line 82, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .disabled {
  color: #aaaaaa;
}
/* line 84, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}
/* line 88, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}
/* line 92, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}
/* line 96, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
/* line 99, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}
/* line 101, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .previous_page {
  margin-right: 1em;
}
/* line 103, /home/daigong/git/UserAnalysis/app/assets/stylesheets/will_paginate/pagination.sass */
.flickr_pagination .next_page {
  margin-left: 1em;
}
