/* line 4, /home/daigong/git/UserAnalysis/app/assets/stylesheets/statistics/total.css.scss */
.total_title {
  font-size: 16px;
  text-align: center;
}

/* line 8, /home/daigong/git/UserAnalysis/app/assets/stylesheets/statistics/total.css.scss */
.total_yesterday_count {
  margin-top: 2px;
  font-size: 18px;
  padding-left: 30px;
}

/* line 13, /home/daigong/git/UserAnalysis/app/assets/stylesheets/statistics/total.css.scss */
.total_today_count {
  margin-top: 2px;
  font-size: 18px;
  padding-left: 30px;
}

/* line 18, /home/daigong/git/UserAnalysis/app/assets/stylesheets/statistics/total.css.scss */
.total_count {
  margin-top: 25px;
  font-size: 30px;
  color: #4B9619;
  text-align: center;
}

/* line 24, /home/daigong/git/UserAnalysis/app/assets/stylesheets/statistics/total.css.scss */
.date_label {
  padding: 12px 5px 0 0;
  font-size: 10px;
}

/* line 28, /home/daigong/git/UserAnalysis/app/assets/stylesheets/statistics/total.css.scss */
.number {
  color: #4B9619;
  font-size: 25px;
}

/* line 32, /home/daigong/git/UserAnalysis/app/assets/stylesheets/statistics/total.css.scss */
hr {
  margin-bottom: 10px;
}
