@charset "UTF-8";
/*top banner*/
/* line 2, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#banner {
  background-image: url(/assets/common/banner-292927e1319c99d674c619448667954c.jpg);
  background-repeat: no-repeat;
  height: 50px;
  overflow: hidden;
}

/*logo*/
/* line 9, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#logo {
  font-size: 16px;
  font-weight: bold;
  color: #f0f8ff;
  padding-top: 5px;
}

/*main*/
/* line 16, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#main {
  margin-top: 10px;
}

/*menu*/
/* line 21, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#left_menu {
  width: 220px;
  margin-left: 20px;
}

/* line 26, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#app_label {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #F4F4F4;
  padding: 20px 0px;
}

/* line 33, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#name_label {
  margin-left: 10px;
}

/* line 37, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
#key_label {
  background-color: #FFFFFF;
  font-size: 10px;
  margin: 10px 0 0 3px;
  width: 214px;
}

/*Title*/
/* line 45, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.info-header {
  background-image: url(/assets/common/info-header-title-890f11a14b54a030ce69e112854e736a.jpg);
  background-repeat: no-repeat;
  height: 29px;
  margin: 0 0 2px;
  padding: 8px 10px 0 20px;
  font-weight: bold;
  color: #444;
  font-size: 14px;
}

/* line 55, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.sub-info-header {
  background-color: #F4F4F4;
  margin: 0 0 5px;
  color: #444;
  height: 29px;
  padding: 8px 10px 0 20px;
  font-weight: bold;
  font-size: 14px;
}

/*Table*/
/* line 66, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table {
  border: 1px solid #999;
}

/* line 70, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table th {
  border-bottom: 1px solid #999;
  background-color: #efefef;
  color: #444;
  font-weight: normal;
  text-align: left;
}

/* line 79, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr th,
.new-silver-table tr td {
  vertical-align: top;
  padding: 5px 4px 4px 10px;
  color: #161616;
}

/* line 86, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table th,
.new-silver-table td {
  border-left: 1px #d8d7d7 solid;
}

/* line 91, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table th.new_silver_first_n,
.new-silver-table td.new_silver_first_n {
  border-left: 0;
}

/* line 95, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.new_silver_even td {
  background-color: #f1f7ff;
}

/* line 99, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.current td {
  background-color: #dbe7f8;
}

/* line 103, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.current table.new-silver-table tr.new_silver_odd td {
  background-color: #fff;
}

/* line 107, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.current table.new-silver-table tr.new_silver_even td {
  background-color: #f1f7ff;
}

/* line 111, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.current table.new-silver-table tr.current td {
  background-color: #dbe7f8;
}

/* line 115, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table tr.tr_row td {
  border: none;
}

/* line 119, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.new-silver-table td.next_activity_stat_td {
  border-left: 0;
}

/* benchmark_tips */
/* line 124, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.benchmark_tips {
  margin: 2px auto;
  width: 100%;
  line-height: 20px;
  color: #444;
  border: 1px solid #CCCCCC;
  padding: 0 20px;
}

/* line 133, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.benchmark_tips tbody tr td {
  padding: 4px 0px 5px 5px;
  line-height: 180%;
}

/* line 138, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.benchmark_tips span {
  color: #05c;
  margin-right: 10px;
}

/*提示信息中的form表单*/
/* line 143, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.info-inline-form {
  display: inline;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

/* line 149, /home/daigong/git/UserAnalysis/app/assets/stylesheets/common/common.css.scss */
.info-inline-form * {
  margin: 0;
}
