.row
  .span7
    .alert.alert-info 使用时长分布
    %ul.nav.nav-tabs#daily-tabs
      %li.active
        %a{:href=>'#daily-tabs-1'}单次使用时长
      %li
        %a{:href=>'#daily-tabs-2'}日使用时长
      %li
        %a{:href=>'#daily-tabs-3'}周使用时长
    .tab-content
      .tab-pane.active#daily-tabs-1
        =high_chart('once_usetime_distribution_bar_chart',@once_usetime_distribution_bar_chart)
      .tab-pane#daily-tabs-2
        =high_chart('day_usetime_distribution_bar_chart',@day_usetime_distribution_bar_chart)
      .tab-pane#daily-tabs-3
        =high_chart('week_usetime_distribution_bar_chart',@week_usetime_distribution_bar_chart)
