.row
  .span7
    .alert.alert-info 全部渠道
    %table.table.table-striped
      %tr
        %th 渠道
        %th="新增[#{format_date_show_day(@day)}日]"
        %th="新增[#{format_date_show_day(@day-1.day)}日]"
        %th="活跃[#{format_date_show_day(@day)}日]"
        %th="活跃[#{format_date_show_day(@day-1.day)}日]"
        %th 上周活跃
        %th 上月活跃
      -@channels_page_info.each do |channel|
        %tr
          %td=link_to channel.channel,:controller => 'statistics/channel_detail',:action => :index,:channel_id=>channel.channel
          %td=channel.new_user_count
          %td=channel.yest_new_user_count
          %td=channel[:login_user_count]
          %td=channel.yest_login_user_count
          %td=channel[:last_week_login_user_count]
          %td=channel[:last_month_login_user_count]

    =will_paginate(@channels_page_info,:style=>'float:right;');
    
-#渠道对比
.row
  .span7
    .alert.alert-info 渠道对比
    %ul.nav.nav-tabs#channel-contrast-tabs
      %li.active
        %a{:href=>'#channel-contrast-tabs-1'}新增用户
      %li
        %a{:href=>'#channel-contrast-tabs-2'}活跃用户
      %li
        %a{:href=>'#channel-contrast-tabs-3'}启动次数
      %li
        %a{:href=>'#channel-contrast-tabs-4'}平均使用时长
    .tab-content
      .tab-pane.active#channel-contrast-tabs-1
        =high_chart('installations-by-daily-chart',@installations_by_daily_chart)
      .tab-pane#channel-contrast-tabs-2
        =high_chart('total-installations-by-daily-chart',@total_installations_by_daily_chart)
      .tab-pane#channel-contrast-tabs-3
        =high_chart('launches-by-daily-chart',@launches_by_daily_chart)
      .tab-pane#channel-contrast-tabs-4
        =high_chart('average_use_time_by_daily_chart',@average_use_time_by_daily_chart)

