.grid_12.alpha
  .info-header
    =form_tag url_for(:action => :index),:method => :get do
      %span 响应时间
      =text_field_tag('day',@day.strftime('%Y-%m-%d'))
      =submit_tag( '提交' )
  %ul.tabs.response-time-tabs
    %li
      %a{:href=>'#'}最小响应时间
    %li
      %a{:href=>'#'}平均响应时间
    %li
      %a{:href=>'#'}最大响应时间
    %li
      %a{:href=>'#'}统计次数


  .panes.response-time-panes
    =high_chart('mintime-chart',@mintime_chart)
    =high_chart('avgtime-chart',@avgtime_chart)
    =high_chart('maxtime-chart',@maxtime_chart)
    =high_chart('count-chart',@count_chart)
.grid_12.alpha
  .info-header rg响应时间
  %ul.tabs.rg_response-time-tabs
    %li
      %a{:href=>'#'}最小响应时间
    %li
      %a{:href=>'#'}平均响应时间
    %li
      %a{:href=>'#'}最大响应时间
    %li
      %a{:href=>'#'}统计次数

  .panes.rg_response-time-panes
    =high_chart('rg_mintime-chart',@rg_mintime_chart)
    =high_chart('rg_avgtime-chart',@rg_avgtime_chart)
    =high_chart('rg_maxtime-chart',@rg_maxtime_chart)
    =high_chart('rg_count-chart',@rg_count_chart)

.grid_12.alpha
  .info-header view响应时间
  %ul.tabs.view_response-time-tabs
    %li
      %a{:href=>'#'}最小响应时间
    %li
      %a{:href=>'#'}平均响应时间
    %li
      %a{:href=>'#'}最大响应时间
    %li
      %a{:href=>'#'}统计次数

  .panes.view_response-time-panes
    =high_chart('view_mintime-chart',@view_mintime_chart)
    =high_chart('view_avgtime-chart',@view_avgtime_chart)
    =high_chart('view_maxtime-chart',@view_maxtime_chart)
    =high_chart('view_count-chart',@view_count_chart)


