!!!
%html
  %head
    %title UU_用户统计
    =stylesheet_link_tag :statistics
    =stylesheet_link_tag :'sdmenu/sdmenu'
    =javascript_include_tag :statistics
    =javascript_include_tag 'sdmenu/sdmenu'
    =javascript_include_tag 'statistics/menu-init'
    =javascript_include_tag params[:controller]
    =csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          #logo
            =link_to("UU用户统计工具",{:action=>'index',:controller=>'statistics/total'},:class=>'brand')
          .container.nav-collapse
            %ul.nav
              %li= link_to("基本统计",:action=>'index',:controller=>'statistics/main')
              %li= link_to("渠道列表",:action=>'index',:controller=>'statistics/channels')

    .container#main
      .row
        .span3.offset1
          .well
            %ul.nav.nav-list
              %li.nav-header
                统计概况
              %li
                =link_to(:action=>'index',:controller=>'statistics/main') do
                  %i.icon-star
                  基本统计
              %li
                =link_to(:action=>'index',:controller=>'statistics/appVersion') do
                  %i.icon-file
                  版本分布

              %li.nav-header
                渠道分析
              %li
                =link_to(:action=>'index',:controller=>'statistics/channels') do
                  %i.icon-th-list
                  渠道列表
              %li.nav-header
                终端及网络
              %li
                =link_to(:action=>'index',:controller=>'statistics/device') do
                  %i.icon-film
                  设备
              %li
                =link_to(:action=>'index',:controller=>'statistics/os') do
                  %i.icon-magnet
                  操作系统
              %li
                =link_to(:action=>'index',:controller=>'statistics/resolution') do
                  %i.icon-picture
                  分辨率
              %li
                =link_to(:action=>'index',:controller=>'statistics/carrier') do
                  %i.icon-adjust
                  运营商
              /%li
              /=link_to(:action=>'index',:controller=>'statistics/access') do
              /%i.icon-move
              /联网方式
              %li.nav-header
                错误分析
              %li
                =link_to(:action=>'index',:controller=>'statistics/except_info') do
                  %i.icon-move
                  全部错误
              %li
                =link_to(:action=>'index',:controller=>'statistics/except_day') do
                  %i.icon-move
                  每日错误分析
              %li
                =link_to(:action=>'index',:controller=>'statistics/except_version') do
                  %i.icon-move
                  版本错误分析
              %li
                =link_to(:action=>'index',:controller=>'statistics/debug_info') do
                  %i.icon-move
                  Debug信息显示
          .well
            =app_name(params[:app_id])
            =params[:app_id]
        .span8
          =yield

      -#.row

        -#.span3.offset1
        -#  #left_menu.sdmenu
        -#    %div
        -#      %span 统计概况
        -#      =link_to("基本统计",:action=>'index',:controller=>'statistics/main')
        -#      =link_to("版本分布",:action=>'index',:controller=>'statistics/appVersion')
        -#    %div
        -#      %span 用户分析
        -#      =link_to("回访用户",:action=>'index',:controller=>'statistics/revisit')
        -#      =link_to("地域",:action=>'index',:controller=>'statistics/location')
        -#      =link_to("使用频率",:action=>'index',:controller=>'statistics/launch')
        -#      =link_to("使用时长",:action=>'index',:controller=>'statistics/usetime')
        -#    %div
        -#      %span 渠道分析
        -#      =link_to("渠道列表",:action=>'index',:controller=>'statistics/channels')
        -#    %div
        -#      %span 终端及网络
        -#      =link_to("设备",:action=>'index',:controller=>'statistics/device')
        -#      =link_to("操作系统",:action=>'index',:controller=>'statistics/os')
        -#      =link_to("分辨率",:action=>'index',:controller=>'statistics/resolution')
        -#      =link_to("运营商",:action=>'index',:controller=>'statistics/carrier')
        -#      =link_to("联网方式",:action=>'index',:controller=>'statistics/access')

