.row
  .span7
    .alert.alert-info
      =link_to("return",{:action=>:index},:class=>:close)
      运营商
    %table.table.table-striped
      %tr
        %th 设备型号
        %th 用户比例
      -@page_info.each do |info|
        %tr
          %td=unknown_string(info.carrier)
          %td=info.login_user_count
    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/carrier", :action => :carrier_details_page});