.row
  .span7
    .alert.alert-info
      =link_to("return",{:action=>:index},:class=>:close)
      设备分辨率分布明细
    %table.table.table-striped
      %tr
        %th 分辨率
        %th 用户比例
      -@page_info.each do |info|
        %tr
          %td=unknown_string(info.resolution)
          %td=info.login_user_count
    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/resolution", :action => :resolution_details_page});