/* line 1, /home/daigong/git/UserAnalysis/app/assets/stylesheets/sdmenu/sdmenu.css.scss */
div.sdmenu {
  width: 150px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding-bottom: 10px;
  background: #ffffff;
  color: #fff;
}

/* line 10, /home/daigong/git/UserAnalysis/app/assets/stylesheets/sdmenu/sdmenu.css.scss */
div.sdmenu div {
  background: url(/assets/sdmenu/title-c8e60871883977790c1fc088b3cecf62.gif) repeat-x;
  overflow: hidden;
}

/* line 15, /home/daigong/git/UserAnalysis/app/assets/stylesheets/sdmenu/sdmenu.css.scss */
div.sdmenu div:first-child {
  background: url(/assets/sdmenu/title-c8e60871883977790c1fc088b3cecf62.gif) repeat-x;
}

/* line 19, /home/daigong/git/UserAnalysis/app/assets/stylesheets/sdmenu/sdmenu.css.scss */
div.sdmenu div.collapsed {
  height: 25px;
}

/* line 23, /home/daigong/git/UserAnalysis/app/assets/stylesheets/sdmenu/sdmenu.css.scss */
div.sdmenu div span {
  display: block;
  padding: 5px 25px;
  font-weight: bold;
  color: #000000;
  background: url(/assets/sdmenu/expanded-f579dcc5d6f9bd51e1b6c296281b7bee.gif) no-repeat 10px center;
  cursor: default;
  border-bottom: 1px solid #ddd;
}

/* line 33, /home/daigong/git/UserAnalysis/app/assets/stylesheets/sdmenu/sdmenu.css.scss */
div.sdmenu div.collapsed span {
  background-image: url(/assets/sdmenu/collapsed-5bab2e90a155d34e03c773fc1bcc16db.gif);
}

/* line 37, /home/daigong/git/UserAnalysis/app/assets/stylesheets/sdmenu/sdmenu.css.scss */
div.sdmenu div a, div.sdmenu div a:link, sdmenu div a:visited {
  list-style-type: circle;
  list-style-position: outside;
  padding: 5px 35px;
  background: white url(/assets/sdmenu/dot-55ed47f971370fb0cea3249bd597ed0b.gif) no-repeat 20px center;
  display: block;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: black;
}

/* line 49, /home/daigong/git/UserAnalysis/app/assets/stylesheets/sdmenu/sdmenu.css.scss */
div.sdmenu div a:hover, div.sdmenu div a.cur-page {
  background: #cbd9d9 url(/assets/sdmenu/linkarrow-914480195ae0d32e17e856f15f2b3473.gif) no-repeat right center;
  color: #fff;
  text-decoration: none;
}
