.grid_12.alpha
  .info-header 公交路线查询次数省市分布明细
  .sub-info-header=link_to("返回",:action=>:index)
  %table.new-silver-table{:cellspacing=>0,:cellpadding=>0,:width=>'100%'}
    %tr
      %th 城市名称
      %th 查询次数
    -@page_info.each do |info|
      %tr
        %td=concat_string(info.province, info.city)
        %td=info.count
  =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "loganalysis/busline", :action => :busline_details_page});

