.row
  .span7
    .alert.alert-info
      %form{:method=>'get',:class=>"info-inline-form" }
        查询版本:
        %input{:name=>'soft_version',:value=>params[:soft_version],:style=>'width:150px'}
        查询用户ID:
        %input{:name=>'uuid',:value=>params[:uuid]}
        %input{:type=>'submit'}
    %table.table.table-striped
      %tr
        %th debug摘要
        %th(style="width:50px")  版本
        %th(style="width:50px")  时间
        %th(style="width:60px") 用户详情
      -@page_info.each do |info|
        %tr
          %td=info.exception_log
          %td=info.soft_version
          %td=info.time
          %td=link_to "详情",:controller=>"statistics/users",:action=>:show,:id=>info.uuid

    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/debug_info", :action => :index});

