.grid_12.alpha
  .info-header
    =form_tag url_for(:action => :index),:method => :get do
      %span TOP 10 省市分布
      =text_field_tag('day',@day.strftime('%Y-%m-%d'))
      =submit_tag( '提交' )
  %ul.tabs.view-tabs
    %li
      %a{:href=>'#'}0层
    %li
      %a{:href=>'#'}1层
    %li
      %a{:href=>'#'}2层
    %li
      %a{:href=>'#'}3层
  .panes.view-panes
    -#图表
    %div
      =high_chart('view-level0-count-chart',@view_count_level0_top_10_chart)
      %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
        =link_to "点击查看更多",{:controller => "loganalysis/view", :action => :view_details_page, :level=>0}, :class=>"next_page"
    %div
      =high_chart('view-level1-count-chart',@view_count_level1_top_10_chart)
      %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
        =link_to "点击查看更多",{:controller => "loganalysis/view", :action => :view_details_page, :level=>1}, :class=>"next_page"
    %div
      =high_chart('view-level2-count-chart',@view_count_level2_top_10_chart)
      %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
        =link_to "点击查看更多",{:controller => "loganalysis/view", :action => :view_details_page, :level=>2}, :class=>"next_page"
    %div
      =high_chart('view-level3-count-chart',@view_count_level3_top_10_chart)
      %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
        =link_to "点击查看更多",{:controller => "loganalysis/view", :action => :view_details_page, :level=>3}, :class=>"next_page"

  %br
  %br

  %ul.tabs.view2-tabs
    %li
      %a{:href=>'#'}4层
    %li
      %a{:href=>'#'}5层
    %li
      %a{:href=>'#'}6层
    %li
      %a{:href=>'#'}7层
  .panes.view2-panes
    %div
      =high_chart('view-level4-count-chart',@view_count_level4_top_10_chart)
      %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
        =link_to "点击查看更多",{:controller => "loganalysis/view", :action => :view_details_page, :level=>4}, :class=>"next_page"
    %div
      =high_chart('view-level5-count-chart',@view_count_level5_top_10_chart)
      %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
        =link_to "点击查看更多",{:controller => "loganalysis/view", :action => :view_details_page, :level=>5}, :class=>"next_page"
    %div
      =high_chart('view-level6-count-chart',@view_count_level6_top_10_chart)
      %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
        =link_to "点击查看更多",{:controller => "loganalysis/view", :action => :view_details_page, :level=>6}, :class=>"next_page"
    %div
      =high_chart('view-level7-count-chart',@view_count_level7_top_10_chart)
      %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
        =link_to "点击查看更多",{:controller => "loganalysis/view", :action => :view_details_page, :level=>7}, :class=>"next_page"

